@import "../../utils/style/index.scss";

button{
  border: none;
  border-radius: $default-border-radius;
  background-color: transparent;
  padding: 2vw;
  font-size: 5vw;
}

.favoriteUnselected {
  color: $grey;
}

.favoriteSelected {
  color: rgb(225, 84, 84);
}

@media(min-width:600px) {
  .favoriteUnselected:hover {
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  
  .favoriteSelected {
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}