@import "../../utils/style/index.scss";
.category{
  button{
    text-align: start;
    margin: 1vh 0;
    background-color: $lighter-grey;
    width: 100%;
    border-radius: $default-border-radius;
    padding: $default-page-padding;
  }

  div {
    div {
      background-color: $more-lighter-grey;
      border-radius: $default-border-radius;
      padding: $default-page-padding;
      margin: 0.5vh 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  } 
}

.none {
  display: none;
}

@media(min-width:600px) {
  .category{
    padding-bottom: 1vh;
    button{
      font-size: 2vh;
      padding: 1vw;
      height: 5vh;

      &:hover{
        cursor: pointer;
      }
    }

    div {
      div {
        padding: 1vh;
      }
    } 
  }
}