@import "../../utils/style/index.scss";

.tabsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  width: 100%;
  margin-bottom: 2vh;
  overflow-y: auto;
  
  div{
    display: flex;
    justify-content: center;

    button{
      padding: 0;
      
      h2{
        color: $grey;
        font-size: 2vh;
      }

      .selected{
        color:$darker-grey;
      }
    }    
  }
}

.contentContainer{
  min-height: 50vh;
  max-height: 70vh;
}

.nonSelected{
  color:$lighter-grey;
}

@media(min-width:600px){
  .contentContainer{
    width: 100%;
    min-height: 50vh;
    max-height: none;
  }
}