@import "../../utils/style/index.scss";

.content{
  padding: $default-page-padding;
  
  .list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
  }
}

.dark{
  background-color: $dark-grey;
}

.light{
  background-color: white;
}

@media(min-width:600px) {
  .content{
    padding: $default-desktop-padding;
    padding-top:1vw;

    .list{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 1vw;
      row-gap: 1vw;
    }
  }
}

@media(min-width:800px) {
  .content{
    .list{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media(min-width:1280px) {
  .content{
    .list{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media(min-width:1600px) {
  .content{
    .list{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}