@import "../../utils/style/index.scss";

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  z-index:700;
  position: fixed;
  top: 0;
  left: 0;
}

.darkTheme{
  background-color: $darker-grey;

  h1,h2,h3{
    color: $more-lighter-grey;
  }

  a{
    h3{
      color: $more-lighter-grey;
    }
  }
}

.lightTheme{
  background-color: $more-lighter-grey;
}

.container {
  height: 100%;
  padding: $default-page-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  

  .switchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    a{
      text-decoration: none;

    }

    div{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    h3{
      font-size: 3vh;
      margin-right: 2vw;
    }

    
    .switchComponent{
      transform: scale(2);
      margin: 0 3vw;
    }
  }

  .darkerGrey{
    background-color: $darker-grey;
    color:$dark-grey;
  }
  
}